a {
	color: #32AEDA;
}

.name-wrapper {
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	max-width: 100%;
}

.name-wrapper input {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	font-size: 2em;
	font-weight: bold;
	color: inherit;
	flex-grow: 1;
	width: 100%;
}

.name-wrapper input:not(:disabled) {
	border-bottom: 1px solid;
}

.name-wrapper .button {
	display: block;
	cursor: pointer;
	user-select: none;
	margin: .25em;
}

.company-data .label {
    color: #777;
}

.company-data .label::after {
	content: ': ';
}

.departments summary {
	list-style: none;
	background-color: #eee;
	padding: .5em;
}

.departments summary:hover {
	cursor: pointer;
	background-color: #ddd;
}

.departments summary::after {
	content: '+';
	float: right;
	width: 1em;
	text-align: center;
}

.departments  details[open] summary::after {
	content: '-';
}

.departments summary ::marker {
	display: none;
}

.departments content {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
}


.departments table {
	width: 100%;
	font-size: .9em;
	border-spacing: 5px;
}

.departments table th {
	text-align: left;
}

.departments table img.avatar {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	border: 1px solid #888;
}